---
# Sean Sperte Styles
---

// Normalize everything
// http://necolas.github.io/normalize.css
@import "normalize";


// Set some variables
$base-font-family: "Input Sans",Menlo,Courier,monospace;
$base-font-size: 18px;
$base-line-height: 1.7;
$alt-font-family: sans-serif;
$text-color: #777;
$background-color: #eaebec;
$highlight-color: #ffc;
$grey-color: #555;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Now on to our styles
html {
	background: $background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $text-color;
}

body {
	width: 50vw;
	margin: 0 auto;
	@media (max-width: 959px) {
		width: calc(100% - 2rem);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		border: 0 none;
	}
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid $grey-color-light;
	&:hover {
		background-color: $grey-color-light;
	}
}

::selection {
	color: $background-color;
	background: $text-color;
}

section {
	position: relative;
}

small {
	font-size: 65%;
}

hr {
	margin: 3rem auto;
	border: 0 none;
	border-top: 1px solid $grey-color-light;
}

// Media
img,
iframe {
	display: block;
	margin: 0 auto;
	max-width: calc(100% - 1rem);
	max-height: 50vh;
	padding: .5rem;
	background: lighten($background-color, 10%);
	box-shadow: 0 3px 5px $grey-color-light;
}

img[align="left"],
img.imgleft {
	float: left;
	max-width: 50%;
	height: auto;
	margin-right: 1.5rem;
}

img[align="right"],
img.imgright {
	float: right;
	max-width: 50%;
	height: auto;
	margin-left: 1.5rem;
}

img.imgcenter {
	display: block;
	margin: 0 auto;
}


// Posts
article {
	position: relative;
	hr {
		width: 25%;
		margin: 2em auto;
		border-bottom: none;
	}
	h2 a {
		color: $grey-color;
	}
	time a {
		color: $grey-color-light;
		border: 0 none;
	}
	p {
		color: $grey-color;
		a {
			border-bottom: 1px solid $grey-color-light;
		}
	}
	blockquote {
		font-family: $alt-font-family;
	}
	pre,
	.code {
		display: block;
		max-width: 100%;
		overflow: scroll;
		padding: .5em;
		color: #000;
		background: #eee;
		border-radius: 2px;
		box-shadow: 0 -1px 1px #555;
	}
	p code {
		background: #eee;
	}
}


#pagination {
	margin: 3rem auto;
	text-align: center;
	a {
		padding: 0 2rem;
		color: $grey-color;
		font-weight: bold;
		border: none;
		&:hover {
			color: #000;
			background-color: transparent;
		}
	}
}


footer {
	margin: 3rem auto;
	color: $grey-color-light;
	line-height: 1.2;
}
