---
# Sean Sperte Styles
---


// Normalize everything
// http://necolas.github.io/normalize.css
@import "normalize";


body {
	background: #A2A4A8;
}


#top {
	position: relative;
	padding: 60px 0 70px;
	text-align: center;
	z-index: 1;
	@media (min-width: 768px) {
		padding: 30vh 70px;
	}
	h1 {
		max-width: 330px;
		margin: 0 auto;
		font: 100 20px/1 'Oswald';
		text-transform: uppercase;
		letter-spacing: .1em;
		color: white;
		span {
			display: none;
		}
		i {
			display: block;
			padding: .1em 0 .1em .5em;
			text-indent: -.5em;
			text-align: left;
			font: 800 italic 82px/.75 'Playfair Display';
			text-transform: lowercase;
			letter-spacing: normal;
			color: #454545;
		}
	}
	&:before {
		display: block;
		position: absolute;
		bottom: 30px;
		left: 15%;
		content: "▼";
		font-size: 15px;
		color: #454545;
		z-index: 2;
		@media (min-width: 768px) {
			left: calc(50% - 10px);
		}
	}
	&:after {
		display: block;
		position: absolute;
		top: 25px;
		right: 50px;
		content: "";
		height: 280px;
		width: 3px;
		background: #A76BB4;
		z-index: 2;
		@media (min-width: 768px) {
			right: 25%;
			height: 80vh;
		}
	}
}


#jenny-quote {
	background: white;
	padding: 60px 15vw;
	@media (min-width: 768px) {
		padding: 12vh 35vw;
	}
	blockquote {
		margin: 0 auto 1em;
		font: 400 italic 12px/1.4 'Volkhov';
		color: #454545;
		text-indent: -.3em;
		@media (min-width: 768px) {
			font-size: 18px;
		}
	}
	cite {
		display: block;
		width: 70vw;
		margin: 0 auto;
		font: 400 normal 12px/1 'Volkhov';
		color: #A76CB3;
	}
}


#current-role {
	position: relative;
	background: #5681D4;
	padding: 150px 0 50px 10vw;
	z-index: 1;
	@media (min-width: 768px) {
		padding: 150px 0 50px 25vw;
	}
	p {
		font: 100 normal 14px/1 'Oswald';
		color: #9DBFFF;
	}
	h3 {
		margin-bottom: 2em;
		font: 400 italic 24px/1.3 'Playfair Display';
		color: #F5F5E9;
		a {
			color: #50E3C2;
			text-decoration: underline;
		}
	}
	@media (min-width: 768px) {
		h3,
		p {
			max-width: 370px;
		}
	}
	&:before {
		display: block;
		position: absolute;
		top: -70px;
		right: 100px;
			@media (min-width: 768px) { right: 40vw; }
		content: "";
		height: 250px;
		width: 3px;
		background: #F5F5E9;
		transform: rotate(35deg);
		z-index: 2;
	}
	&:after {
		display: block;
		position: absolute;
		left: 15px;
		bottom: -30px;
		content: "";
		height: 50px;
		width: 3px;
		background: #2D4165;
		z-index: 2;
	}
}


#previous-roles {
	background: #F8FFF1;
	padding: 70px 0 20px;
	@media (min-width: 768px) {
		padding: 70px 30vw 20px;
	}
	h3 {
		position: relative;
		margin: 0;
		font: 200 normal 24px/1 'Oswald';
		color: #50E3C2;
		text-transform: uppercase;
		letter-spacing: .1em;
		&:before {
			content: ">>>>>>>>>"
		}
		&:after {
			position: absolute;
			left: 10px;
			white-space: pre;
			content: "\A   |\A      |\A\A      |\A                |\A |\A                |"
		}
	}
	ul {
		position: relative;
		margin: 20px 20px 60px;
		padding: 0;
		list-style: none;
		li {
			margin-bottom: 2em;
			&:last-child { margin-bottom: 0; }
			font: 400 normal 12px/1.1 'PT Mono';
			color: #484B45;
			text-transform: uppercase;
			letter-spacing: .15em;
			b:before {
				content: ">";
			}
		}
	}
	a {
		display: block;
		position: relative;
		margin: 20px;
		padding: 20px;
		text-align: center;
		font: 400 normal 18px/1 'Oswald';
		color: #50E3C2;
		letter-spacing: .07em;
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid #50E3C2;
		border-radius: 8px;
		z-index: 2;
		&:after {
			display: block;
			position: absolute;
			top: 4px;
			left: 4px;
			content: " ";
			width: 100%;
			height: 100%;
			border: 2px solid #50E3C2;
			border-radius: 4px 8px 12px 8px;
			opacity: .2;
			z-index: 1
		}
	}
}


#josh-quote {
	background: #2D4165;
	padding: 75px 20px;
	text-align: center;
	@media (min-width: 768px) {
		padding: 20vh 35vw;
	}
	blockquote {
		margin: 0 auto 2em;
		font: 700 italic 24px/1.3 'Playfair Display';
		color: #B8E986;
	}
	cite {
		display: block;
		font: 900 normal 14px/1 'Playfair Display';
		color: white;
		text-transform: uppercase;
		letter-spacing: .3em;
	}
}


#intro {
	padding: 30px 15px 15px;
	background-image: url(/img/seansperte.jpg);
	background-position: left center;
	background-size: 215vw;
	color: white;
	@media (min-width: 768px) {
		padding: 10vmax 10vw;
		background-size: cover;
	}
	h2 {
		margin: 0 auto 90px;
		font: 32px/1.3 'Abril Fatface';
	}
	p {
		position: relative;
		font: 400 italic 14px/1 'Volkhov';
		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: -15px;
			width: 20%;
			border-top: 3px solid white;
		}
	}
}


#about-me {
	position: relative;
	padding: 60px 40px 140px;
	background: #F8E71C;
	color: #4A4A4A;
	@media (min-width: 768px) {
		padding: 60px 30vw;
	}
	h3 {
		margin: 0 auto;
		font: 800 italic 24px/1.3 'Playfair Display';
		text-align: center;
		i {
			display: block;
			margin: .2em auto 1em auto;
			font: 600 normal 64px/1 'Volkhov';
			text-indent: .1em;
		}
	}
	small {
		display: block;
		position: absolute;
		bottom: 80px;
		font: 800 italic 24px/1.3 'Playfair Display';
		@media (min-width: 768px) {
			position: relative;
			bottom: auto;
			margin: -1em auto 2em;
			text-align: center;
		}
	}
	p {
		font: 400 normal 12px/1.3 'Volkhov';
		@media (min-width: 768px) {
			font-size: 16px;
		}
	}
}


#my-story {
	position: relative;
	margin: 20px 0;
	padding: 80px 40px;
	background: #FFFEF7;
	color: #2E2E2E;
	z-index: 1;
	h3 {
		margin-bottom: 2em;
		text-align: center;
		font: 600 normal 16px/1 'Oswald';
		text-transform: uppercase;
		@media (min-width: 768px) {
			width: 260px;
			margin: 0 auto 2em;
		}
	}
	p {
		text-align: justify;
		font: 400 normal 12px/1.25 'PT Serif';
		@media (min-width: 768px) {
			width: 260px;
			margin: 0 auto 1em;
		}
	}
	&:before {
		display: block;
		position: absolute;
		top: -40px;
		right: 30px;
		content: "";
		height: 130px;
		width: 3px;
		border: 3px solid #E1450D;
		border-width: 0 3px;
		@media (min-width: 768px) {
			right: calc(50% - 180px);
		}
	}
}


#chris-quote {
	padding: 60px 0;
	background: #E1450D;
	color: #FFF6A8;
	text-align: center;
	blockquote {
		margin: 0;
		font: 600 italic 18px/1.2 'Volkhov';
		span {
			display: none;
		}
		b {
			display: block;
			margin: .5em auto;
			font: 800 normal 28px/1 'Open Sans';
			text-transform: uppercase;
			letter-spacing: .07em;
		}
		&:before,
		&:after {
			display: block;
			position: relative;
			height: 50px;
			font: 600 normal 144px/1 'PT Mono';
			color: white;
		}
		&:before {
			top: -20px;
			content: "“";
		}
		&:after {
			bottom: -10px;
			content: "”";
		}
	}
	cite {
		display: block;
		margin: 3em auto 0;
		font: 600 normal 12px/1 'Volkhov';
		color: white;
	}
}


#axioms {
	width: 100vw;
	overflow-x: visible;
	.paper {
		padding: 40px 30px;
		background: #F8F6ED;
		box-shadow: inset 0 0 100px #E0D8AB, 0 6px 6px -3px rgba(0, 0, 0, 0.2);
		font: 400 normal 12px/1.1 'PT Mono';
		transform: rotate(-2deg);
		@media (min-width: 768px) {
			max-width: 340px;
			margin: 0 auto;
		}
		h3 {
			margin: 0;
			text-align: center;
			font-weight: 900;
			color: black;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			color: #4A4A4A
		}
	}
}


#the-good-stuff {
	padding: 30px 0;
	background: #313033;
	box-shadow: inset 0 0 40vw black;
	text-align: center;
	color: white;
	h2 {
		font: 400 normal 24px/1 'Abril Fatface';
		text-transform: uppercase;
		&:after {
			display: block;
			margin-top: 1em;
			font-size: 12px;
			line-height: 1.5;
			white-space: pre;
			content: "▼\A▼\A▼"
		}
	}
}


#previous-work {
	position: relative;
	z-index: 1;
	padding: 0 40px 75px;
	&:before {
		display: block;
		position: absolute;
		top: -100px;
		left: 20px;
		content: "";
		height: 2500px;
		width: 3px;
		background: #77000E;
		z-index: 2;
	}
	h3 {
		text-align: center;
		font: 800 italic 74px/1 'Playfair Display';
		text-transform: lowercase;
		color: #454545;
		b {
			display: block;
			text-align: center;
			font: 600 normal 20px/1 'Oswald';
			text-transform: uppercase;
			color: #77000F;
		}
	}
	.case-study {
		margin-bottom: 80px;
		img {
			max-width: 100%;
			box-shadow: 0 40px 40px -20px rgba(0, 0, 0, 0.2);
			background: white;
		}
		h4 {
			margin: .5em auto .25em;
			font: 800 italic 48px/1 'Playfair Display';
			color: #454545;
		}
		p {
			font: 600 normal 14px/1.35 'Playfair Display';
			color: #454545;
			letter-spacing: .1em;
		}
		a:last-child {
			font: 600 normal 12px/1 'Oswald';
			color: #77000E;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: .1em;
			&:before {
				display: inline-block;
				content: "▶";
				margin-right: 10px;
				color: #454545;
			}
		}
		@media (min-width: 768px) {
			max-width: 340px;
			margin: 0 auto 80px;
		}
	}
}


#whats-next {
	background: #E6E6E6;
	padding: 50px 25px;
	h3 {
		margin: 0 auto 1em;
		font: 600 normal 24px/1.2 'Volkhov';
		color: #4A4A4A;
		text-align: center;
	}
	ul {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		list-style: none;
		color: #8F5F70;
		font: 400 normal 12px/2 'Volkhov';
		@media (min-width: 768px) {
			max-width: 340px;
			margin: 0 auto;
		}
		li:before {
			float: left;
			width: 0;
			white-space: nowrap;
			color: #C9C9C9;
			content:
			". . . . . . . . . . . . . . . . . . . . "
			". . . . . . . . . . . . . . . . . . . . "
			". . . . . . . . . . . . . . . . . . . . "
			". . . . . . . . . . . . . . . . . . . . ";
		}
		li span {
			padding-right: .3em;
			background: #E6E6E6;
		}
		li a {
			float: right;
			padding: 0 .3em;
			background: #E6E6E6;
			color: #8F5F70;
			text-decoration: none;
			border-radius: 2px;
			&:hover {
				color: #E6E6E6;
				background: #8F5F70;
			}
		}
	}
}


#fin {
	padding: 65px 25px;
	text-align: center;
	h3 {
		margin: 0 auto 2em;
		font: 400 normal 24px/1 'Abril Fatface';
		color: #454545
	}
	a {
		font: 600 normal 14px/1.1 'PT Mono';
		color: #D00170;
		text-decoration: none;
		span {
			display: block;
		}
	}
}



.portfolio {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 7vw;
	header {
		padding: 30px 0;
		h1 {
			margin: .5em auto .25em;
			font: 800 italic 48px/1 'Playfair Display';
			color: #454545;
		}
		h2 {
			font: 600 normal 18px/1.35 'Playfair Display';
			color: #454545;
		}
		hr {
			margin: 2em 0;
			width: 33%;
			border: 1px solid #77000E;
			border-width: 3px 0 0;
		}
	}
	h2 {
		margin: 2em auto 1em;
		font: 400 italic 20px/1 'Playfair Display'
	}
	p {
		font: 400 normal 16px/1.35 'PT Serif';
		color: #454545;
	}
	img {
		max-width: 100%;
		margin: 1em auto 2em;
		box-shadow: 0 40px 40px -20px rgba(0, 0, 0, 0.2);
		background: white;
	}
	hr {
		margin: 2em auto;
		border: 0 none;
		border: 1px solid rgba(0,0,0,.2);
	}
	a {
		color: #77000E;
	}
}

a.home-link {
	display: inline-block;
	margin: 1em auto 2em;
	font: 600 normal 14px/1.1 'PT Mono';
	color: #D00170;
	text-decoration: none;
	span {
		display: block;
	}
}
