---
layout: default
---

  <h2 id="intro">{{ site.description }} <a href="/about">More info &rarr;</a></h2>

  {% for post in paginator.posts %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.content }}
    <h6><a href="{{ post.url }}">{{ post.date | date_to_long_string }}</a></h6>
  </div>
  <hr>
  {% endfor %}


  <div id="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" id="newer">&larr; Newer</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" id="older">Older &rarr;</a>
    {% endif %}
  </div>