<!DOCTYPE html>

<html>

<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="alternate" type="application/rss+xml" title="Sean Sperte" href="{{ site.baseurl }}/feed.xml">
	<link rel="shortcut icon" href="/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700|PT+Mono|PT+Serif:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Volkhov:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/css/geekandmild.css?v=20180625" | prepend: site.baseurl }}">

</head>
