<!DOCTYPE html>

<html>

<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	
	<link rel="alternate" type="application/rss+xml" title="Sean Sperte" href="{{ site.baseurl }}/feed.xml">
	<link rel="shortcut icon" href="/favicon.ico">
	
	<link rel="stylesheet" href="//cloud.webtype.com/css/fa92cf68-f469-44c7-8d0f-335148ff8952.css">
	<link rel="stylesheet" href="{{ "/css/geekandmild.css" | prepend: site.baseurl }}">

	<script type="text/javascript" src="https://raw.githubusercontent.com/toddmotto/fluidvids/master/src/fluidvids.js"></script>

</head>
