<!DOCTYPE html>

<html>

<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>➗ {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	
	<link rel="alternate" type="application/rss+xml" title="Geek &amp; Mild" href="{{ site.baseurl }}/feed.xml" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<link rel="stylesheet" href="{{ "/css/geekandmild.css" | prepend: site.baseurl }}" />  

	<script type="text/javascript" src="http://use.typekit.com/hiv0gya.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript" src="https://raw.githubusercontent.com/toddmotto/fluidvids/master/src/fluidvids.js"></script>

</head>
