---
title: MarsEdit testrun
date: 2006-03-12
slug: marsedit_testrun
---
<p>I&#8217;m posting this entry from <a href="http://ranchero.com/marsedit/">MarsEdit</a>, a weblog client that runs locally on my laptop. I&#8217;m curious if this method of posting would enable (and/or force) me to blog more consistently. So far I&#8217;m really liking it. <del>One</del> <ins>A few</ins> of the benefits of using a desktop client &mdash; rather than the web-based control panel &mdash; is the Mac&#8217;s inline spell-check<ins>, on-the-go draft creation, and speed</ins>.</p>

<p>Anyway, (in true <a href="http://joshuablankenship.com/?p=3489">Joshua Blankenship form</a>) note to self: Plan to go to <a href="http://2006.sxsw.com/interactive/?PHPSESSID=7f8eb386e7b1cb6071b7c6b793b6d566">SXSW</a> next year.</p>

<p class="update">Update: I&#8217;m loving MarsEdit and will probably end up purchasing it. The only problem I&#8217;ve had so far is uploading photos. The upload works just fine, but the placement of the photo in the entry doesn&#8217;t work. It just does nothing. Any advice?</p>